{% extends '_base.html' %}

{% block content %}
  <div style="overflow-x: scroll;">
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Имя</th>
      <th>Цена</th>
      <th>Время (мин)</th>
      <th>Мастер</th>
      <th>Удалить</th>
    </tr>
  </thead>
  <tbody>
    {% for n in service %}
      <tr style="cursor: pointer;"
          onclick="window.location='{% url 'service_update' n.id %}';this.style.background='#f0f0f0';"
          onmouseover="this.style.background='#fffccf'"
          onmouseout="this.style.background='#fff';">
        <td>{{ n.id }}</td>
        <td>{{ n.name }}</td>
        <td>{{ n.price }}</td>
        <td>{{ n.time_in_minutes }}</td>
        <td>{{ n.master }}</td>
        <td><a href="{% url 'service_remove' n.id %}"><i class="fa fa-remove text-danger"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  </div>
{% endblock %}


{% block box-toolbox-r %}
  <a href="{% url 'service_add' %}">
    <button type="button" class="btn btn-success">
      <i class="fa fa-plus"></i>&nbsp;Добавить
    </button>
  </a>
{% endblock %}