{% extends 'c_index.html' %}

{% block product-tiles %}

				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center" data-bind="text: categoryTabHeading()" style="margin-bottom: 10px;"></h2>
						<!-- ko if: products().length == 0 -->
							<h4 class="text-danger text-center" style="margin-top: 5em;margin-bottom: 3em;">Не найдено продуктов в выбранной категории</h4>
						<!-- /ko -->
						<div class="col-lg-12" style="height: 3em;">
							<div class="col-lg-4 col-sm-6 col-md-6 col-xs-12 text-center" style="color: #fe980f;">
								<h6>Количество продуктов на странице: </h6> 
							</div>
							<div class="col-lg-8 col-sm-6 col-md-6 col-xs-12" style="">
								<select class="form-control select-styled" data-bind="options: nbPerPageVariants, value: nbPerPage"></select>
							</div>
						</div>
						<!-- ko ifnot: products().length == 0 -->
						<div class="" data-bind="foreach: paginatedProducts()" style="padding-top: 40px;">
							<div class="product-image-wrapper col-sm-4" style="padding: 0; height: 170px;">
								<div class="single-products" style="margin-top: 0;padding-top: 20px;">
									<div class="productinfo text-center">
										<h2><span data-bind="text: $data.price_per_min_amount"></span class="text-success"> <i class="fa fa-ruble"></i></h2>
										<p data-bind="text: $data.name"></p>
										<!-- ko if: $data.is_in_stock -->
										<p class="btn add-to-cart" style="cursor: default;">В наличии <span>
											<i class="fa fa-check"></i>
										</span></p>
										<!-- /ko -->
										<!-- ko ifnot: $data.is_in_stock -->
										<a data-bind="attr: { href: $settings.urls.feedback_view + '#feedback_form' }" class="btn btn-default add-to-cart"> Уточните в магазине <span>
											<i class="fa fa-question"></i>
										</span></a>
										<!-- /ko -->
									</div>
									<div class="product-overlay text-center">
										<div class="overlay-content">
											<h2><span data-bind="text: $data.price_per_min_amount"></span> <i class="fa fa-ruble"></i></h2>
											<p data-bind="text: $data.name"></p>
											<!-- ko if: $data.is_in_stock -->
											<p class="btn btn-default add-to-cart" style="cursor: default;">В наличии <span class="text-success">
												<i class="fa fa-check"></i>
											</span></p>
											<!-- /ko -->
											<!-- ko ifnot: $data.is_in_stock -->
											<a data-bind="attr: { href: $settings.urls.feedback_view + '#feedback_form' }" class="btn btn-default add-to-cart">Уточните в магазине <span  class="text-warning">
												<i class="fa fa-question"></i>
											</span></a>
											<!-- /ko -->
										</div>
									</div>
								</div>
								<!-- <div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div> -->
							</div>
						</div>
						<!-- /ko -->
					</div><!--features_items-->

					<!-- ko ifnot: products().length == 0 -->
						<!-- Paginator -->
						<nav aria-label="Page navigation example" style="text-align: center;">
							<ul class="pagination justify-content-center">
								<li class="page-item" style="float: left; margin-right: 0.2em; margin-left: 6px;">
								  <a class="page-link" href="#" tabindex="-1" data-bind="click: previous, visible: hasPrevious">Previous</a>
								</li>
								<!-- <li class="page-item"><a class="page-link" href="#" data-bind="text: pageNumber"></a></li> -->
								<!-- <li class="page-item"><a class="page-link" href="#" data-bind="text: pageNumber"></a></li> -->
								<li class="page-item"><button class="page-link btn btn-default get" style="font-size: 13.5px;font-weight: 300;margin-top: 0px;" data-bind="text: pageNumber()+1"></button></li>
								<li class="page-item" style="float: right; margin-left: 0.6em;">
								  <a class="page-link" href="#" data-bind="click: next, visible: hasNext">Next</a>
								</li>
							</ul>
						</nav>
					<!-- /ko -->
					<!--<div class="product-details">
						<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
								<h3>ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  {# Wrapper for slides #}
								    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
										</div>
										
									</div>

								  {# Controls #}
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information">
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Anne Klein Sleeveless Colorblock Scuba</h2>
								<p>Web ID: 1089772</p>
								<img src="images/product-details/rating.png" alt="" />
								<span>
									<span>US $59</span>
									<label>Quantity:</label>
									<input type="text" value="3" />
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-SHOPPER</p>
								<a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
							</div>
						</div>
					</div>-->
					
					<!--<div class="category-tab shop-details-tab">
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Details</a></li>
								<li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
								<li><a href="#tag" data-toggle="tab">Tag</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="companyprofile" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
									</ul>
									<p>ariatur.</p>
									<p><b>Write Your Review</b></p>
									
									<form action="#">
										<span>
											<input type="text" placeholder="Your Name"/>
											<input type="email" placeholder="Email Address"/>
										</span>
										<textarea name="" ></textarea>
										<b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
										<button type="button" class="btn btn-default pull-right">
											Submit
										</button>
									</form>
								</div>
							</div>
							
						</div>
					</div>-->
					
					<!--<div class="recommended_items">
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div>-->
					
				</div>
{% endblock %}